/* Variables CSS */
:root {
    /* Paleta de colores */
    --azul: rgb(58, 128, 169);
    --azulOp: rgba(180, 209, 226, 0.5);
    --moradoOp: rgba(79, 53, 120, 0.5);
    --morado: #4f3578;
    --gris: rgba(44, 40, 40, 0.5);
    --fondo: rgb(240, 230, 230);
    --fondoContenido: #EEEAEA;   
    --fondoOp: rgba(240, 230, 230, 0.5); 
    --bs-focus-ring-color: rgba(180, 209, 226, 0.5) !important;
    --bs-heading-color: #4f3578 !important;
    --bs-card-inner-border-radius: 0 !important;
}

/* ______________________________________________________ */
/* TIPOGRAFÍA */

/* Fuente títulos*/
@font-face {
    font-family: 'fuente-titulo';
    src: url('./fonts/SciFly-Sans.ttf') format("truetype");
}

/* Fuente cuerpo*/
@font-face {
    font-family: 'fuente-cuerpo';
    src: url('./fonts/Nunito-ExtraBold.ttf') format('truetype');
}

/* Fuente cuerpo light*/
@font-face {
    font-family: 'fuente-cuerpo-light';
    src: url('./fonts/Nunito-Light.ttf') format('truetype');
}

/* Estilos generales */

h1 {
    font-size: 3.5rem !important;
    font-family: "fuente-titulo";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--morado);
    text-align: center;
    font-weight: bold !important;
    margin-bottom: 0 !important;
}

h2 {
    font-family: "fuente-cuerpo";
    font-size: 2em !important;
    color: var(--black) !important;
}

h3 {
    font-family: "fuente-cuerpo";
    font-size: 1.5em !important;
    color: var(--gris) !important;
    padding: 0 !important;
    margin: 0 !important;
}

h4 {
    font-family: 'fuente-cuerpo-light';
    font-size: 2rem;
    color: var(--gris) !important;
    font-weight: bold;
}

p {
    font-family: 'fuente-cuerpo-light';
    font-size: 18px;
    color: var(--gris);
    font-weight: bold;
    padding: 0 !important;
    margin: 0 !important;
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    background-color: var(--fondo);
}

/* ______________________________________________________ */
/* LOGO */
.logo {
    width: 180px !important;
}

/* Barra de navegacion */
.navbar {
    background-color: var(--fondoContenido);
    border-bottom: 3px solid var(--gris); 
    font-family: 'fuente-cuerpo';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-collapse {
    justify-content: center;
    align-content: center;
}

.nav-link.active {
    color: var(--azul) !important;
}

.nav-item a {
    color: var(--morado);

    &:hover {
        color: var(--azul);
        text-decoration-line: underline;
        text-decoration-style: wavy;
    }
}

.btn {
    color: var(--azul)  !important;
    border: var(--azul) solid 2px !important;

    &:hover {
        background-color: var(--azulOp) !important;
    }
}

.form-control {
    border: var(--gris) solid 2px !important;
    --bs-focus-ring-color: rgba(44, 40, 40, 0.1) !important;
}

.busqueda {
    max-width: 20%;
}

/* _____________ Página INICIO _____________ */

.hero-inicio {
    background-color: var(--fondoOp);
    text-align: center;
    padding: 3rem;
    position: absolute;
}

.hero-inicio h1 {
    font-size: 3.5rem;
    font-family: "fuente-titulo";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--morado);
    text-align: center;
    font-weight: bold;
}

.hero-info {
    max-width: 80%;
}

.hero-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.btn-hero {
    background-color: var(--fondo) !important;
    font-family: "fuente-cuerpo" !important;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* _____________ Página SERVICIOS _____________ */

.card-servicios {
    text-align: justify;
    border: 5px solid var(--gris) !important;
}

.card-img-top {
    width: 100% !important;
    height: 100% !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

/* _____________ Página LABORATORIO _____________ */

.seccion-laboratorio {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.seccion-laboratorio div iframe {
    margin: 10px;
    width: 450px;
    height: 300px;
}

/* _____________ Página EQUIPO _____________ */

.equipo-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
    align-items: start;
    padding: 50px;
}

.integrante-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    text-align: justify;
}

.integrante-card {
    width: 50%;
}

.integrante-container img{
    border: var(--azul) solid 10px;
    border-radius: 10%;
    height: 300px;
    width: auto;
}

.linkedin-icon {
    transition: all 0.2 ease;
}

.linkedin-icon i {
    color: var(--morado);
    font-size: 1.5rem;
    transition: all 0.2s ease;
}

.linkedin-icon:hover i {
    color: var(--azul);
    transform: scale(1.1);
}

/* _____________ Página BLOG _____________ */

.seccion-blog {
    margin-top: 20px;
    padding-top: 10px;
    text-align: justify;
    border-top: var(--azul) solid 2px;
}

/* _____________ Página CONTACTO _____________ */

.formulario-contacto input[type="text"], textarea{
    display: block;
    font-family: 'fuente-cuerpo-light';
    /* font-size: 17px; */
    color: var(--gris);
    border: var(--azul) solid 2px;
    border-radius: 5px;
    padding: 2px;
    /* margin-bottom: 10px; */
    margin: 10px 0;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.4);

    &:focus {
        outline: var(--morado) solid 2px;
        outline-offset: -2px;
    }

}

textarea {
    height: 150px;
}

.informacion-contacto {
    border-left: dashed var(--morado);
    text-align: center;
}

.informacion-contacto iframe {
    width: 100%;
    height: 250px;
}

/* _____________ Redes Sociales _____________ */

.redes-sociales-container {
    background-color: var(--fondoContenido);
    padding: 20px;
    text-align: center;
    border-top: 3px solid var(--gris);
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.redes-sociales-footer a {
    margin: 20px;
}

.redes-sociales-footer img {
    width: 40px;

    &:hover {
        transform: scale(1.2);
    }
}

/* ______________________________________________________ */
/* Footer */

footer {
    padding: 10px;
    text-align: center;
    background-color: var(--fondo);
    border-top: 3px solid var(--gris);
}

.footer-info {
    text-align: start;
    justify-content: center;
}

/* Links footer */
.nav-footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 !important;
}

.link {
    text-decoration: none;
    font-size: 18px;
    color: var(--gris);
    transition: color 0.3s ease;
    font-family: 'fuente-cuerpo-light';

    &:hover {
        color: var(--azul);
        font-weight: 600;
    }
}

/* Scroll to top */
.scroll-to-top {
    display: flex;
    place-content: center;
    align-items: center;

    position: fixed;
    right: 20px;
    bottom: 60px; 

    transition: all 0.2 ease;
}

.scroll-to-top i {
    color: var(--gris);
    font-size: 2rem;
    transition: all 0.2s ease;
}

.scroll-to-top:hover i {
    color: var(--azul);
    transform: scale(1.1);
}

.derechos-reservados {
    font-family: 'fuente-cuerpo-light';
    font-size: 18px;
    color: var(--gris);
    text-align: center;
    opacity: 70%;
    margin: 20px;
}

/* _____________ RESPONSIVE _____________ */

@media (max-width: 1200px) {

    .busqueda {
        max-width: 100%;
    }

    /* _____________ Página EQUIPO _____________ */

    .equipo-container {

        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        align-items: start;
        padding: 50px;
        
        }
        
    .integrante-container {
            display: flex;
            flex-flow: row wrap;
            gap: 30px;
            justify-content: center;
            text-align: justify;
        }
        
    .integrante-card {
            width: 80%;
        }
        
    .integrante-container img{
            border: var(--azul) solid 10px;
            border-radius: 10%;
            height: 300px;
            width: auto;
        }
}

@media (max-width: 768px){
    .informacion-contacto {
        border: var(--morado) dashed 3px;
        border-radius: 30px;
    
    }
}

@media (max-width: 512px) {

    .btn-hero {
        height: 75px;
        width: 50%;
        text-align: center;
        justify-content: center;
        padding: 1px !important;
    }

}

@media (max-width: 575px) {
    .footer-info {
        text-align: center !important;
        place-content: center !important;
      }

    .seccion-laboratorio div iframe {
        margin: 10px;
        width: 330px;
        height: 300px;
    }

    .equipo-container {

        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        align-items: start;
        padding: 10px;
    }

}